<div *ngIf="product" class="card product-card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">
      {{ product.description }}
    </p>

    <button
      class="btn btn-primary btn-add-to-cart me-1"
      (click)="evtAdd.emit(product.id)"
    >
      + Add to cart
    </button>
    <ng-container *ngIf="quantityInCart">
      <span class="quantity">
        {{ quantityInCart }}
      </span>

      <button
        class="btn btn-danger btn-remove-from-cart"
        (click)="evtRemove.emit(product.id)"
      >
        -
      </button>
    </ng-container>
  </div>
</div>
