<div class="card product-card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">
      {{ product.description }}
    </p>

    <button
      *ngIf="!quantityInCart"
      class="btn btn-primary me-1"
      (click)="evtAdd.emit(product.id)"
    >
      Add to cart
    </button>
    <div *ngIf="quantityInCart">
      <button class="btn btn-primary me-1" (click)="evtAdd.emit(product.id)">
        +
      </button>
      {{ quantityInCart }}

      <button class="btn btn-danger" (click)="evtRemove.emit(product.id)">
        -
      </button>
    </div>
  </div>
</div>
